<header class="header">
  <div class="header__brand">
  <img src="assets/logo.jpg" alt="Waseem Logo" class="header__logo" />
    <h1 class="header__title">
      <span class="text-dark">Mohd </span>
      <span class="text-teal">Wa</span><span class="text-red">seem</span>
    </h1>
  </div>

  <nav class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-item"><a href="#home">Home</a></li>
      <li class="header__nav-item"><a href="#about">About</a></li>
      <li class="header__nav-item"><a href="#skills">Skills</a></li>
      <li class="header__nav-item"><a href="#projects">Projects</a></li>
      <li class="header__nav-item"><a href="#education">Education</a></li>
      <li class="header__nav-item"><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>
